.input-group {
  margin: 20px 0;
  width: 60%;
}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

.btn-secondary {
  margin-left: 20%;
  background-color: #000;
}

/* td:first-of-type div div {
  height: 600px;
  width: 650px;
} */